@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.parallax {
    background-image: url('https://data.1freewallpapers.com/download/code-programming-text-strings-multicolored-1680x1050.jpg');
  
    min-height: 500px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  