.a:hover{
    background-image: url("C:/Users/Heric/Desktop/blogPessoal/blogPessoal/blogPessoal/src/assets/img/linkedinbutton.jpg")
}

.githublogo:hover{
    background-image: url("C:/Users/Heric/Desktop/blogPessoal/blogPessoal/blogPessoal/src/assets/img/githubbutton.jpg");
}

.fundo{
    background-image:url("C:/Users/Heric/Desktop/blogPessoal/blogPessoal/blogPessoal/src/assets/img/fundo1.jpg");
   
}

.fundoperfil{
    background-image:url("C:/Users/Heric/Desktop/blogPessoal/blogPessoal/blogPessoal/src/assets/img/fundo3.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}