<div class="card border-0" style="width: 18rem;">

    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://media-exp1.licdn.com/dms/image/C4D03AQGm3tha0juFGg/profile-displayphoto-shrink_200_200/0/1595868273448?e=1612396800&v=beta&t=C4tFfX7nuMsla7y1Beh0_tl6a9oYHxtaJjBjgD0borM" alt="Imagem de capa do card">
    </div>
  
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Herick Willians</h5>
      <p class="card-text text-center text-monospace">Estudante de Desenvolvimento Java na Generation Brasil e de Ciência e Tecnologia na UFABC.</p>
      <a href="https://linkedin.com/in/herick-willians" class="btn btn-outline-info mb-3 w-100">Linkedin</a>

      <a href="https://github.com/herickwill" class="btn btn-outline-dark mb-3 w-100">GitHub</a>

    </div>
  </div>
